<div class="form-group">
  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </span>
    <input type="text" mydatetimepicker class="form-control" ng-model="search.start_time" value="2015-08-10 00:00:00" style="border-radius: 0; awidth: 160px" />
  </div>
  <div class="input-group">
    <input type="text" mydatetimepicker class="form-control" ng-model="search.end_time" value="2015-08-10 00:00:00" style="border-radius: 0 4px 4px 0; margin-left: -5px; awidth: 160px" />
  </div>
</div>
