<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
        正在显示第 {{search.start + 1}} - {{search.end}} 条数据, 总共 {{search.result.total}} 条
      </p>
    </div>
  </div>
  <div class="row">
    <form class="form-inline" ng-submit="load(0)">
      <div class="col-xs-12 col-sm-9">
        <div class="form-group">
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><i class="glyphicon glyphicon-export icon-share"></i>
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:" target="_blank" ng-href="php/api.php?format=csv&amp;size=5000&amp;query={{buildQuery()}}">CSV 格式</a></li>
              <li><a href="javascript:" target="_blank" ng-href="php/api.php?format=txt&amp;size=5000&amp;query={{buildQuery()}}">TXT 格式</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
              {{search.query.name}}
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:" ng-click="load(0, 0)">全部类型</a></li>
              <li class="divider"></li>
              <li ng-repeat="t in types" ng-if="$index > 0"><a href="javascript:" ng-click="load(0, $index)">{{t.name}}</a></li>
            </ul>
          </div>
        </div>

        <div ng-include src="'templates/partials/datetimepicker.html'" include-replace></div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="input-group pull-right">
          <input type="text" class="form-control" placeholder="多个关键词空格隔开" ng-model="search.query.phrase">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>

    </form>
  </div>

  <br/>
  <div class="row">
    <div class="col-xs-12" ng-include="'templates/partials/sqltable.html'">
    </div>

    <div class="col-xs-12">
      <div class="pull-right pagination" ng-include="'templates/partials/pagination.html'">
      </div>
    </div>
    <!-- /.col-xs-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
